.DS_Store
.build/
.swiftpm/
Core/target/
DerivedData/
Distribution/
Sources/FSUserStoriesApp/Resources/Core/fs-user-stories-core
Platform/Linux/Qt/build/
Platform/Linux/Qt/core-bundle/
*.xcuserstate
xcuserdata/
